*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor{
    width: 70%;
    height: 300vh;
    border: 2px solid black;
    margin: 80px auto;
    position: relative;
}

.posicion{
    width: 150px;
    height: 100px;
    font-size: 1.3rem;
    line-height: 100px;
    text-align: center;
    color: white;
}

.estatica{
    position: static;
    background-color: red;
}

.relativa{
    background-color: blue;
    /* position: relative;
    top: -100px;
    left: 200px; */
}

.absoluto{
    position: absolute;
    background-color: green;
    top: 200px;
    left: 300px;
}

.fijo{
    position: fixed;
    background-color: orange;
    top: 400px;
    left: 50px;
}