*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.card{
    width: 80%;
    max-width: 600px;
    background-color: slateblue;
    color: white;
    margin: 0 auto;
    margin-top: 80px;
    padding: 40px 20px;
}

img{
    width: 200px;
    display: block;
    margin: 10px auto;
}

.titulo{
    border: 2px solid black;
    text-align: center;
    letter-spacing: 10px;
    word-spacing: 10px;;
}

.parrafo{
    text-transform: uppercase;
    text-align: justify;
}

.parrafoUno{
    text-transform: lowercase;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid red;
    font-style: italic;
    line-height: 2;
}