h1{
    color: crimson;
    font-size: 64px;
}
h2,p{
    color: darkblue;
}
.titulo{
    font-size: 32px;
    color: darkgreen;
}
#titulo{
    font-size: 24px;
    color: darkred;
}

.negrita{
    font-weight: bold;
}