*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor {
    width: 90%;
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-auto-rows: 250px;
}

.item {
    /* background-color: #f0f0f0; */
    color: black;
    font-size: 3em;
    font-weight: bold;
    outline: 1px solid crimson;
    display: flex;
    align-items: center;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.item01{
    background-image: url("../../FOTOS/gsilla01.png");
}

.item02{
    background-image: url("../../FOTOS/gsilla02.png");
}

.item03{
    background-image: url("../../FOTOS/gsilla03.png");
}

.item04{
    background-image: url("../../FOTOS/gsilla04.png");
}

.item05{
    background-image: url("../../FOTOS/gsilla05.png");
}