*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: lightcoral;
    color: cornflowerblue;
}

.elemento {
    margin: 80px auto;
    width: 50%;
    height: 200px;
    background-color: royalblue;
}

@media (min-width:500px){
    body {
        background-color: beige;
    }
    .elemento {
        width: 95%;
        height: 100px;
        background-color: blueviolet;
    }
}

@media (min-width:720px){
    body {
        background-color: blueviolet;
    }
    .elemento {
        background-color: beige;
    }
}
